[submodule "recipes/recipes/meta-openembedded"]
	path = recipes/openembedded/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "recipes/poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "recipes/recipes/meta-clang"]
	path = recipes/kraj/meta-clang
	url = https://github.com/kraj/meta-clang.git
[submodule "recipes/recipes/meta-arcadia"]
	path = recipes/guster32/meta-arcadia
	url = https://github.com/guster32/meta-arcadia.git
[submodule "recipes/recipes/meta-odroid"]
	path = recipes/guster32/meta-odroid
	url = https://github.com/guster32/meta-odroid.git
[submodule "recipes/openembedded/meta-qt5"]
	path = recipes/openembedded/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
